{% extends "auctions/layout.html" %}
{% block body %}
    <div class="title"><h3>Create Listing</h3></div>
    <!-- Create a listing form -->
        <form action="{% url 'create-listing'%}" method="post">
        {% csrf_token %}
            <input type="hidden" name="userid" value="{{ user.id }}">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Title" required>
                </div>
                <div class="form-group col-md-3">
                    <label for="category">Category:</label>
                    <input type="text" class="form-control" id="category" name="category" placeholder="Category" required>
                </div>
            </div>
            <div class="form-row">
               <div class="form-group col-md-3">
                    <label for="image">Image URL:</label>
                    <input type="text" class="form-control" id="image" name="image" placeholder="URL">
                </div>
                <div class="form-group col-md-1">
                    <label for="bid">Start Bid:</label>
                    <input type="text" class="form-control" id="bid" name="bid" placeholder="Bid" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="description">Description:</label>
                    <textarea class="form-control" id="description" name="description" placeholder="Details" required></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
{% endblock %}