{% extends "auctions/layout.html" %}

{% block body %}
    <div class="title">
       <h3>Active Listings</h3>
    </div>
    <!-- List of the active listings -->
    <div class="row">
    {% if listings %}
       {% for item in listings %}
          {% if item.status == "active" %}
           <div class="item">
            <a href="{% url 'listing-page' item.id %}">
              <div class="image">
                 <img src="{{item.picture}}" alt="{{ item.title }}">
              </div>
              <div class="description">
                 <ul>
                        <li><h3>{{ item.title }}</h3></li>
                        <li><strong>Price:</strong> {{ item.start_bid }}$</li>
                        <li><strong>Description:</strong> {{ item.description }}</li>
                        <li><strong>Added On:</strong> {{ item.time_stamp }}</li>
                    </ul>
              </div>
             </a>
           </div>
          {% endif %}
       {% endfor %}
    {% else %}
        <h2>No listings to show</h2>
    {% endif %}
    </div>
{% endblock %}