{% extends "auctions/layout.html" %}

{% block body %}
<div class="title">
       <h3>My Watchlist</h3>
    </div>
    <!-- Listings on the watchlist -->
    <div class="row">
    {% if listings %}
       {% for item in listings %}
           <div class="item">
            <a href="{% url 'listing-page' item.watched_listing.id %}">
              <div class="image">
                 <img src="{{ item.watched_listing.picture }}" alt="{{ item.watched_listing.title }}">
              </div>
              <div class="description">
                 <ul>
                       <li><h3>{{ item.watched_listing.title }}</h3></li>
                        <li><strong>Price:</strong> {{ item.watched_listing.start_bid }}$</li>
                        <li><strong>Description:</strong> {{ item.watched_listing.description }}</li>
                        <li><strong>Added On:</strong> {{ item.watched_listing.time_stamp }}</li>
                    </ul>
              </div>
             </a>
           </div>
       {% endfor %}
    {% else %}
        <h2>No listings to show</h2>
    {% endif %}
    </div>
{% endblock %}